<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:name="com.robocubs4205.cubscout.Application">
        <activity android:name="com.robocubs4205.cubscout.scorelist.ScoreListActivity"/>
        <activity android:name=".scorecardsubmit.ScorecardSubmitActivity"/>
    </application>
</manifest>
